/* Модальное окно */

.modal-wrap.js{
	background: none;
	position: absolute;
}

.modal-wrap{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0,0,0,0.5);
	z-index: 3000;
	display: none;
}

.modal-inner{
	display: inline-block;
	text-align: left;
	height: 100%;
}

.modal-inner > table,
.modal-inner > table > tbody > tr > td{
	vertical-align: middle;
	height: 100%;
}

.modal-block{
	display: inline-block;
	border-radius: 3px;
	min-height: 28px;
	position: relative;
	background: white;
	box-shadow: 0px 0px 20px black;
}

.modal-close:before {
	content: "\f00d";
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: 'FontAwesome';
	color: black;
}

.modal-close{
	display: inline-block;
	position: absolute;
	z-index: 100;
	top: 0px;
	right: 0px;
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.modal-content{
	display: inline-block;
	position: relative;
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
	margin-top: 14px;
	box-shadow: none;
	border: 0px solid;
}

.modal-wrap-background {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 3000;
	background: rgba(0,0,0,0.6);
}

.modal-wrap .modal-left-side{
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
}
.modal-wrap .modal-right-side{
	position: fixed;
	right: 0px;
	top: 0px;
	height: 100%;
}

.modal-wrap .modal-right-side .mside-top,
.modal-wrap .modal-right-side .mside-center,
.modal-wrap .modal-right-side .mside-bottom,
.modal-wrap .modal-left-side .mside-top,
.modal-wrap .modal-left-side .mside-center,
.modal-wrap .modal-left-side .mside-bottom
{
	position: relative;
	width: 100%;
	height: 33.333333%;
}


/* auto-size, confirm, warning, promptModal */
.modal-wrap.auto-size {
	max-width: 60%;
	max-height: 100%;
}

.modal-wrap.auto-size .modal-content-wrap {
	font-size: 0;
}


.modal-wrap.drag-modal.auto-size .modal-content-wrap .modal-content {
	text-align: center;
}

.modal-wrap.ui-modal .modal-content .text {
	font-size: 16px;
	padding: 15px;
}

.modal-wrap.ui-modal .modal-content .text .icon {
	display: inline;
}

.modal-wrap.ui-modal .modal-content .text .icon:before {
	font-size: 20px;
	display: inline-block;
	margin: 10px;
}

.modal-wrap.ui-modal.warning .modal-content .text .icon:before {
	content: "\f071";
	color: rgb(255, 184, 0);
}

.modal-wrap.ui-modal.error .modal-content .text .icon:before {
	content: "\f06a";
	color: rgb(171, 0, 0);
}

.modal-wrap.ui-modal .select-buttons {
	clear: both;
	display: block;
	width: 100%;
	text-align: center;
}

.modal-wrap.ui-modal .select-buttons-inner {
	display: inline-block;
}

.modal-wrap.ui-modal .select-buttons .btn {
	float: left;
	margin-left: 7px;
}

.modal-wrap.ui-modal textarea {
	display: inline-block;
	width: 95%;
	margin-bottom: 10px;
}

.modal-wrap.ui-modal .center {
	display: inline-block;
	max-width: 90%;
}

/* DragModal */
.modal-wrap.drag-modal {
	background: #f2f2f2;
	background: #4d5a75;
	box-sizing: border-box;
	border-radius: 3px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.modal-wrap.drag-modal.full {
	left: 0px;
	width: 100%;
	border-radius: 0;
}

.modal-wrap.drag-modal .modal-content-wrap {
	display: block;
	box-sizing: border-box;
	padding: 20px 3px 3px 3px;
	height: 100%;
	border-radius: 3px;
}

.modal-wrap.drag-modal.iresize .modal-content-wrap {
	cursor: se-resize;
}

.modal-wrap.drag-modal.full .modal-content-wrap {
	padding: 0;
}

.modal-wrap.drag-modal .modal-content {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: #fff;
	margin: 0;
	padding: 3px;
	border-radius: 3px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	overflow: auto;
	text-align: left;
	cursor: default;
}

.modal-wrap.drag-modal.full .modal-content {
	border-radius: 0;
	padding: 0;
}

.modal-wrap.drag-modal .modal-top-bar {
	position: absolute;
	width: 100%;
	height: 20px;
	text-align: left;
	z-index: 20;
}

.modal-wrap.drag-modal.imove .modal-top-bar {
	cursor: move;
}

.modal-wrap.drag-modal.full .modal-top-bar {
	cursor: default;
	right: 0;
	width: auto;
	/* display: none; */
}

.modal-wrap.drag-modal .modal-top-bar-right {
	display: inline-block;
	float: right;
	margin-right: 5px;
	position: relative;
}

.modal-wrap.drag-modal .modal-content .modal-top-bar-right {
	display: none;
}

.modal-wrap.drag-modal.full .modal-top-bar-right {
	display: inline-block;
}

.modal-wrap.drag-modal.full .modal-top-bar-right {
	display: inline-block;
	margin-right: 0px;
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.3);
	height: 20px;
}

  .modal-wrap.drag-modal .modal-min
, .modal-wrap.drag-modal .modal-full
, .modal-wrap.drag-modal .modal-close
, .modal-wrap.drag-modal .modal-mover
, .modal-wrap.drag-modal .modal-help
{
	display: inline-block;
	position: relative;
	float: left;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	cursor: pointer;
}

.modal-wrap.drag-modal .modal-mover {
	cursor: move;
}

.modal-wrap.drag-modal.full .modal-mover {
	display: none;
}

  .modal-wrap.drag-modal .modal-min:before
, .modal-wrap.drag-modal .modal-full:before
, .modal-wrap.drag-modal .modal-close:before
, .modal-wrap.drag-modal .modal-mover:before
, .modal-wrap.drag-modal .modal-help:before
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	font-family: 'FontAwesome';
	color: #333;
	color: #fff;
	font-size: 16px;
}

  .modal-wrap.full.drag-modal .modal-min:before
, .modal-wrap.full.drag-modal .modal-full:before
, .modal-wrap.full.drag-modal .modal-close:before
, .modal-wrap.full.drag-modal .modal-mover:before
, .modal-wrap.full.drag-modal .modal-help:before
{
	color: #333;
}

.modal-wrap.drag-modal .modal-mover:before {
	content: "\f047";
	font-size: 14px;
	top: -1px;
}

.modal-wrap.drag-modal .modal-min:before {
	content: "\f068";
	top: 2px;
	left: 3px;
}

.modal-wrap.drag-modal .modal-full:before {
	content: "\f108";
	top: 2.5px;
	left: 2px;
	font-size: 12px;
}

.modal-wrap.drag-modal .modal-close:before {
	content: "\f00d";
	top: -2px;
}

.modal-wrap.drag-modal .modal-help {
	width: 10px;
	position: absolute;
	left: -22px;
}

.modal-wrap.drag-modal .modal-help:before {
	content: "\f128";
	left: 3px;
	width: 10px;
}


.modal-wrap.drag-modal .modal-title {
	display: inline-block;
	position: absolute;
	left: 26px;
	font-size: 12px;
	color: #444;
	color: #fff;
	text-align: left;
	line-height: 20px;
	font-family: inherit;
	font-weight: 600;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.modal-wrap.drag-modal.full .modal-title {
	display: none;
}

.modal-wrap.drag-modal .modal-toolbar {
	width: 100%;
	position: relative;
	top: 20px;
}

.modal-wrap.drag-modal.with-toolbar .modal-content-wrap {
	padding-top: 40px;
}

.modal-wrap.drag-modal .modal-toolbar ul {
	margin-left: 5px;
}

.modal-wrap.drag-modal .modal-toolbar li a {
	display: inline-block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	cursor: pointer;
	border: 1px solid transparent;
	color: #333;
	text-decoration: none;
}

.modal-wrap.drag-modal .modal-toolbar li a:hover {
	background: rgba(255, 255, 255, 0.65);
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.34);
}

.min-modals-wrap {
	position: fixed;
	bottom: 0px;
	left: 0px;
	font-family: inherit;
	font-size: 12px;
	font-weight: 600;
}

.min-modals-wrap  .button {
	display: inline-block;
	background: #ccc;
	border-radius: 0 3px 0 0;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
	padding: 5px 3px;
	cursor: pointer;
}

.min-modals-wrap  .count {
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	padding-left: 17px;
}

.min-modals-wrap  .count:before {
	content: "\f009";
	font-family: 'FontAwesome';
	position: absolute;
	left: 3px;
}

.min-modals-wrap ul {
	/*
	background: #ccc;
	padding: 6px 5px;
	border-radius: 0 3px 3px 0;
	box-shadow: 0px 0px 2px black;
	color: #111;
	*/
	top: initial;
	bottom: 30px;
}

.min-modals-wrap ul li {
	/*
	padding: 4px;
	cursor: pointer;
	background: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.44);
	*/
}
.min-modals-wrap ul li:first-child {
/*
	border-top: 0px solid;
	border-radius: 3px 3px 0 0;
*/
}

.min-modals-wrap ul li:last-child {
	/*
	border-radius: 0 0 3px 3px;
	*/
}

.min-modals-wrap ul li:first-child:last-child {
	/*
	border-radius: 3px;
	*/
}

.min-modals-wrap ul li:hover {
	background: #eee;
}

.min-modals-wrap ul li:hover a {
	cursor: pointer;
}

.min-modals-wrap ul li:hover a {
	color: #000;
}
.min-modals-wrap ul li a {
	color: inherit;
}

  .move-icon
, .move-icon.folder
{
	display: block;
	position: absolute;
	cursor: pointer;
	font-family: 'Open Sans';
	width: auto;
	height: auto;
	box-sizing: border-box;
}

  .move-icon:before
, .move-icon:after
{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	font-family: 'FontAwesome';
	font-size: 25px;
}

.move-icon.group:before {
	content: "\f0c5";
}

.move-icon h1 {
	font-size: 14px;
	max-width: 100px;
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

.modal-wrap.drag-modal.auto-size {
	display: inline-block;
	width: auto;
	height: auto;
}

.modal-wrap.drag-modal.auto-size .modal-content {
	display: inline-block;
	width: auto;
	height: auto;
}


.min-modals-wrap {
	z-index: 10000000000;
}

.min-modals-wrap .dropdown-menu {
	box-shadow: 0 0px 3px rgba(0,0,0,0.175);
	background: rgba(77, 90, 117, 0.86);
	font-size: 14px;
	border-radius: 3px;
	color: white;
	margin-bottom: 1px;
}

.min-modals-wrap .dropdown-menu > li > a {
	padding: 3px 7px;
}

  .min-modals-wrap .dropdown-menu > li > a:hover
, .min-modals-wrap .dropdown-menu > li > a:focus
{
	background: rgba(111, 129, 166, 0.75);
	min-width: 110px;
	color: #fff;
}

.min-modals-wrap .button {
	min-width: 72px;
	border-radius: 0 0 0 0;
	background: #6C81AB;
	color: #fff;
}

.min-modals-wrap .count:before {
	content: "\f17a";
	font-weight: normal;
}

.modal-wrap.drag-modal .inner-modal-control {
	display: none;
}

.modal-wrap.iframe-modal .modal-content {
	padding: 0;
	overflow: hidden;
	font-size: 0;
}

.modal-wrap.form-modal .modal-content {
	overflow: hidden;
	padding: 0;
}

.modal-wrap.form-modal .modal-content:before {
	transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    content: "";
    font-family: FontAwesome;
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, .7) url("/css/AjaxLoader.gif") center center no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

.modal-wrap.form-modal .modal-content.loading:before {
	opacity: 1;
	visibility: visible;
}
